@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: 255, 255, 255;
  --main-font-color: 15, 20, 25;
  --main-hover-color: 150, 150, 150;
  --main-border-color: 139, 152, 165;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: 21, 32, 43;
    --main-font-color: 247, 249, 249;
    --main-hover-color: 42, 64, 86;
    --main-border-color: 139, 152, 165;
  }
}

body {
  background-color: rgb(var(--background-color));
  color: rgb(var(--main-font-color));
}

.main {
  padding: 1rem;
}

.header-icon {
  color: rgb(var(--main-font-color));
  width: 30px;
  height: 30px;
}

.header-icon-wrapper:hover {
  background: rgb(var(--main-hover-color));
}

.border-right {
  border-right: 0.2px solid rgb(var(--main-border-color));
}