@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: 240,245,248;
  --dialog-background-color: 0, 0, 0;
  --main-font-color: 50, 50, 50;
  --main-hover-color: 150, 150, 150;
  --main-border-color: 139, 152, 165;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: 21, 32, 43;
    --dialog-background-color: 127, 127, 127;
    --main-font-color: 247, 249, 249;
    --main-hover-color: 42, 64, 86;
    --main-border-color: 139, 152, 165;
  }
}

body {
  background-color: rgb(var(--background-color));
  color: rgb(var(--main-font-color));
  border-color: rgb(var(--main-border-color));
  word-break: break-all;
  overflow-wrap: break-word;
}

.main {
  padding: 1rem;
}

.theme-white {
  background-color: rgb(240,245,248);
  color: rgb(50, 50, 50);
}

.dialog-background {
  background: rgba(var(--dialog-background-color), 0.4);
}
.dialog {
  background-color: rgb(var(--background-color));
}

.transparent-form {
  overflow-y: hidden; /* 余分なスクロールバーを表示しないようにする */
  resize: none;
  background-color: rgba(var(--background-color), 1);
}

.transparent-form:focus {
  outline: none;
}

.header-icon {
  color: rgb(var(--main-font-color));
  width: 30px;
  height: 30px;
}

.header-icon-wrapper:hover {
  background: rgb(var(--main-hover-color));
}

.border-right {
  border-right: 0.2px solid rgba(var(--main-border-color), 0.5);
}
.border-bottom {
  border-bottom: 0.2px solid rgba(var(--main-border-color), 0.5);
}
.border-all {
  border: 0.2px solid rgba(var(--main-border-color), 0.5);
}

/* Group List */
.group-list {
  max-width: calc(100vw - 7rem);
}
.group-list-detail {
  width: 70%;
}
.group-list-image {
  width: 10%;
}
.group-list-apply {
  width: 20%;
}
.group-list-name {
  width: 30%;
}
.group-list-description {
  width: 70%;
}

.important_gray_text {
  color: #aaa;
}

line {
  stroke: #aaa !important;
}

text {
  stroke: #aaa !important;
}