@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: 240,245,248;
  --dialog-background-color: 0, 0, 0;
  --main-font-color: 50, 50, 50;
  --main-hover-color: 150, 150, 150;
  --main-border-color: 139, 152, 165;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: 21, 32, 43;
    --dialog-background-color: 127, 127, 127;
    --main-font-color: 247, 249, 249;
    --main-hover-color: 42, 64, 86;
    --main-border-color: 139, 152, 165;
  }
}

body {
  background-color: rgb(var(--background-color));
  color: rgb(var(--main-font-color));
}

.main {
  padding: 1rem;
}

.dialog-background {
  background: rgba(var(--dialog-background-color), 0.2);
}
.dialog {
  background-color: rgb(var(--background-color));
}

.header-icon {
  color: rgb(var(--main-font-color));
  width: 30px;
  height: 30px;
}

.header-icon-wrapper:hover {
  background: rgb(var(--main-hover-color));
}

.border-right {
  border-right: 0.2px solid rgb(var(--main-border-color));
}